.aside {
  background-color: #D8DDDE; 
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
  img {
    display: block;
    margin: auto;
  }
  iframe {
    display: block;
    margin: auto;
  }
  code {
    color: #B32A2A;
  }
}


@media (min-width: 480px) {
  .aside {
     max-width: 600px;
     margin-left: auto;
     margin-right: auto;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
