.aside {
  margin: 0 0 6em;
  text-align: center;

  img {
    display: block;
    margin: auto;
  }
  iframe {
    display: block;
    margin: auto;
  }

  div[class^="language-"] {
    background-color: #F3F3F1;
  }

  .highlight {
    text-align: left;
    padding: .75em;
    overflow: auto;
  }
}


@media (min-width: 480px) {
  .aside {
     max-width: 600px;
     margin-left: auto;
     margin-right: auto;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
