footer,
footer>.container {
    height: 5em;
}

footer {
    background-color: #E7E7E5;
    img {
        height: 5em;
    }
    .icon {
        height: 2em;
        margin-top: 2em;
        margin-right: 1em;
        float: right;
    }
}