.steps {
  pre.highlight {
    overflow-y: scroll;
  }

  .highlight {
    line-height: initial;
    overflow-y: scroll;
    margin: 0em;
    code {
      color: #FFFAF0;
      padding: 0em;
      border-radius: 0em;
    }
    pre {
      padding: 1em;
    }
  }
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .steps {
      .highlight {
         width: 50%;
      }
    }
}

@media (min-width: 992px) {
}
