.steps {
  .list {
    background-color: #FFF;
    img {
      width: 80%;
    }
    ol {
      margin: 0;
      padding: 1em;
      list-style-type: none;
    }
    li {
      padding: .5em;
      counter-increment: item;
      code {
        color: #B32A2A;
      }
      p {
        margin: .5em;
        padding-left: 1.5em;
      }
    }
    li:before {
      font-size: 2em;
      color: #64CAA0;
      content: counter(item);
      position: absolute;
    }

    .highlight {
      margin-left: 2.5em;
      width: auto;
      margin-bottom: 0;
      margin-top: 0;
      padding: .75em;
      float: none;
    }
  }
}

@media (min-width: 480px) {
  .steps {
    .list {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: 768px) {
  .steps {
    .list {
      width: 50%;
    }
  }
}

@media (min-width: 992px) {
}
