.steps {
  p {
    padding-left: 1em;
    padding-right: 1em;
  }
  .list {
    background-color: #FFF;
    p { padding: 1em; }
    img {
      width: 80%;
    }
    ol {
      margin: 0;
      padding: 1em;
      list-style-type: none;
    }
    li {
      padding: .5em;
      p {
        padding: 0em;
        margin: .5em;
        padding-left: 2em;
      }
      li:before {
        content: none;
      }
    }
    li:before {
      font-size: 2em;
      color: #64CAA0;
      counter-increment: section;
      content: counter(section);
      position: absolute;
    }

    .highlight {
      margin-left: 2.5em;
      width: auto;
      margin-bottom: 0;
      margin-top: 0;
      padding: .75em;
      float: none;
    }
  }
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .steps {
    .list {
      width: calc(50%);
      padding: 2em; 
    }
  }
}

@media (min-width: 992px) {
}
