.protip {
  background-color: #D8DDDE; 
  padding: 1em;
  margin-top: 1em;
}


@media (min-width: 480px) {
  .protip {
     max-width: 600px;
     margin: auto;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
