.screenshot {
  cursor: zoom-in;
}


@media (min-width: 480px) {
  .screenshot {
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
