.sectionheader {
  padding-top: 0.5em;
  margin: 0 0 2em;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  text-transform: capitalize;
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

