.steps {
  display: flex;
  overflow: hidden;
  margin-top: 3em;
  margin-bottom: 3em;
}

@media (min-width: 480px) {
  .step {
     max-width: 80%;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
