.steps {
  display: block;
  overflow: hidden;
  margin: 6em 0;
  pre {
    overflow: auto;
  }

}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .steps {
    display: flex;
  }
}

@media (min-width: 992px) {
}
