.tutorial_nav.before_you_get_started_nav {
  .menu-title {
    padding-left: 10px;
  }
  ul.menu-links {
    display: inline-block;
    float: right;
    padding-top: 5px;
    margin: 0px;
    li {
      float: left;
    }
    a {
      cursor: pointer;
      padding: 10px;
    }
  }
}

.tutorial_nav {
  min-height: $nav-bar-height;
  color: #FFF;
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0;
  float: left;
  background-color: #69CBA2;
  z-index: 1; //stops steps numbers from floating on top of nav

  a {
    color: #FFF;
    text-decoration: none;
    &:hover {
      color: $ruby;
      text-decoration: none;
    }
  }

  .menu {
    cursor: pointer;
    display: table;
    width: 100%;
    height: $nav-bar-height;
    font-size: 1em;
    text-transform: uppercase;
  }

  .hamburger-icon {
    display: table-cell;
    vertical-align: middle;
    padding-left: .5em;
    padding-right: .5em;
  }

  .menu-title {
    display: table-cell;
    vertical-align: middle;
  }

  ul {
    display: none;
    list-style: none;
    a:hover {
      text-decoration: underline;
    }
  }

  .progress {
    width: 100%;
    height: 10px;
    background-color: #FFF;
  }

  .progress_bar {
    background-color: #ADD6C6;
    height: 100%;
    width: 0%;
  }
}

@media (min-width: 480px) {
  .tutorial_nav {
    .hamburger-icon {
      width: 5%;
     }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .tutorial_nav {
    .hamburger-icon {
      width: 3%;
    }
  }
}
