<footer>
  <div class="container">
    <a href="http://bmoreonrails.org/">
      <img src="{{site.baseurl}}/assets/icons/bmore.png">
    </a>

    <a rel="license" href="{{site.baseurl}}/license" target="_self">
      <img class="icon"
           alt="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License"
           src="{{site.baseurl}}/assets/icons/cc-by-nc-sa.svg"
      />
    </a>

    <a href="https://github.com/bmoreonrails/rails_tutorial">
      <img class="icon"
           alt="Rails Tutorial on GitHub"
           src="{{site.baseurl}}/assets/icons/github.png"
      />
    </a>

    <a href="https://twitter.com/BmorRailsSchool">
      <img class="icon"
           alt="B'more on Rails School on Twitter"
           src="{{site.baseurl}}/assets/icons/twitter.png"
      />
    </a>
  </div>
</footer>
</body>
</html>
