<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link href="/assets/stylesheets/syntax.css" type="text/css" rel="stylesheet"/>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all"> -->
  </head>
  <body>
    <header>
      <div class="container">
        {% include navigation.html %}
        <h1><a href="/">Rails<strong> Tutorial</strong></a></h1>
      </div>
    </header>
