<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>B'more on Rails Workshop for Women</title>
    <link href="/css/base.css" type="text/css" rel="stylesheet"/>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all"> -->
  </head>
  <body>
    <header>
      <div class="container">
        <p>
         {% include tutorial_navigation.html %}
        </p>
      </div>
    </header>
