<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if site.open_links_in_new_tab %}
      <base target="_blank"/>
    {% endif %}
    <title>B'more on Rails Workshop for Women</title>
    <link href="{{ site.baseurl }}/css/syntax/monokai.css" type="text/css" rel="stylesheet"/>
    <link href="{{ site.baseurl }}/css/base.css" type="text/css" rel="stylesheet"/>
    <link href="{{ site.baseurl}}/assets/vendor/css/featherlight.min.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/js/featherlight.min.js"></script>
    <script src="{{ site.baseurl }}/js/tutorial_nav.js"></script>
    <script src="{{ site.baseurl }}/js/progress.js"></script>
  </head>
