
<div class="tutorial_nav">
  <div class="progress"><div class="progress_bar"></div></div>
  <ul id="menu-list">
    {% for chapter in site.chapters %}
     <li>
      <a href="{{ site.baseurl }}{{chapter.url}}" target="_self">
        {{ chapter.number }} {{ chapter.title }}
       </a>
     </li>
    {% endfor %}
   </ul>

  <div class="menu-container">
    <div class="menu" data-toggle="#menu-list">
      <div class="hamburger-icon"> &#9776</div>
      <div class="menu-title">Chapter {{page.number}} -- {{ page.title }}</div>
    </div>

    <div class="search">
      <form action="/rails_tutorial/search" method="get" target="_self">
        <i class="material-icons">search</i><input type="text" id="search-box" name="query">
      </form>
    </div>
  </div>

</div>
